<!DOCTYPE html>
<html ng-app="App" ng-controller="appController">
<head>
  <title><%=blocks.title%></title>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css"/>


    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.2.14/angular-resource.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <script type="text/javascript" src="scripts/libs/highcharts-ng.js"></script>
    <script type="text/javascript" src="scripts/router.js"></script>
    <script type="text/javascript" src="scripts/controller/appController.js"></script>
    <script type="text/javascript" src="scripts/controller/velocityChartController.js"></script>

  <script src="/vendor/highcharts/exporting.js"></script>


</head>
<body>
<header>
  <%-blocks.header%>
</header>
<section class="container">

  <%-partial('../partials/topNavigation')%>

  <h1><%=blocks.title%></h1>

  <%-body -%>
</section>
<footer>
  <%-blocks.footer%>
</footer>
</body>
</html>