<!DOCTYPE html>
<html ng-app="App" ng-controller="appController">
<head>
  <title><%=blocks.title%></title>

    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css"/>


    <script type="text/javascript" src="/vendor/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="/vendor/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/vendor/bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/vendor/highcharts/highcharts.js"></script>

    <script type="text/javascript" src="scripts/libs/highcharts-ng.js"></script>
    <script type="text/javascript" src="scripts/router.js"></script>
    <script type="text/javascript" src="scripts/controller/appController.js"></script>
    <script type="text/javascript" src="scripts/controller/velocityChartController.js"></script>

  <script src="/vendor/highcharts/exporting.js"></script>


</head>
<body>
<header>
  <%-blocks.header%>
</header>
<section class="container">

  <%-partial('../partials/topNavigation')%>

  <h1><%=blocks.title%></h1>

  <%-body -%>
</section>
<footer>
  <%-blocks.footer%>
</footer>
</body>
</html>